#productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  padding: 40px;
  
}

#productContainer {
  width: 400px;
  border : 1px solid white;
  padding: 5px;
  border-radius: 25px;
  position: relative;
}

#productImage {
  width: 150px;
  height: 200px;
}

.description{
  height: 72px;
  margin: 0;
}

.Container{
  min-height: calc(100vh - 250px);
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 10px; 
  height: 30px; 
  background-color: red; 
  color: white; 
  border: none; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 5px; 
}

#cartContainer {
display: flex;
align-items: start;
  
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-container button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff; 
  color: white;
  cursor: pointer; 
  border-radius: 4px;
}

.quantity-container button:hover {
  background-color: #0056b3; 
}