
#header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  border-bottom: 1px solid white; 
  padding: 10px 25px 10px 25px;
}

#titlesheader {
  display: flex;
  flex-direction: column; 
  text-align: center; 
}
#title_header {
  font-size: 1.5rem;
  margin-bottom: 0;
}

#subtitle_header {
  margin: 0;
  font-size: 1rem;
}

.link {
  color: white; 
  text-decoration: none; 
  font-size: 1rem;
}



#rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px
}

#LogoPanier{
  width: 45px;
}

.cart-container {
  position: relative;
}

.cart-badge {
  background-color: rgb(187, 83, 187);
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 0.8rem;
  position: absolute;
  top: -5px;
  right: -5px;
}